[submodule "wppie/wppie/includes/simplepie"]
	path = wppie/wppie/includes/simplepie
	url = https://github.com/simplepie/simplepie.git
[submodule "wppie/wppie/public/js/simplepagination"]
	path = wppie/wppie/public/js/simplepagination
	url = https://github.com/flaviusmatis/simplePagination.js.git
